body{
  background-color: rgba(0, 255, 242, 0.67) !important;
}

.main-content{
  padding: 50px;
}

.content{
  padding: 10px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.797);
  border-radius: 10px;
}